[Unit]
Description=Initilizes the SA RP GPIOs
After=network.target

[Service]
ExecStart=/usr/bin/initgpio
Restart=on-failure

[Install]
WantedBy=multi-user.target
